body {
    background-color: #eceeef;
    margin: 0;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzhzZ3c2bWJldW9sa3pjaGVuNGF3djNjYWp6cXIxczY3Nzljbmt6NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FlodpfQUBSp20/giphy.gif);
}

.container {
    justify-content: center;
    gap: 50px;
}

.info-box {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



